/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'adminkit.css';
@import 'dropzone/dist/dropzone.css';
@import "select2/dist/css/select2.css";
@import 'daterangepicker.css';